<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tambah Pegawai</title>
</head>
<body>
    <form action="/departemen/tambah" method="POST">
        <div>
            <div>
                <label for="label">Nama</label>
                <input type="text" name="nama" placeholder="Nama" required>
            </div>
            <div>
                <label for="label">Alamat</label>
                <input type="text" name="alamat" placeholder="Alamat" required>
            </div>
            <div>
                <label for="label">Bidang</label>
                <input type="text" name="bidang" placeholder="Bidang" required>
            </div>
            <div>
                <label for="label">Penanggung Jawab</label>
                <input type="text" name="penanggung_jawab" placeholder="Penanggung Jawab" required>
            </div>
        </div>
        <button type="submit">Save</button>
    </form>
</body>
