<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tambah Pegawai</title>
</head>
<body>
    <form action="/pegawai/tambah" method="POST">
        <div>
            <div>
                <label for="label">Nama</label>
                <input type="text" name="nama" placeholder="Nama" required>
            </div>
            <div>
                <label for="label">Usia</label>
                <input type="number" name="usia" placeholder="Usia" required>
            </div>
            <div>
                <label for="label">Keahlian</label>
                <input type="text" name="keahlian" placeholder="Keahlian" required>
            </div>
            <div>
                <label for="label">Jabatan</label>
                <input type="text" name="jabatan" placeholder="Jabatan" required>
            </div>
        </div>
        <button type="submit">Save</button>
    </form>
</body>
